{% block title %}Логин{% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Войти на сайт</h1>
        </div>
        <div class="form-container">
            <form class="form" method="post" action="{% url 'rpg_login' %}">
                {% csrf_token %}
                <div class="form__group">
                    <label for="id_username" class="form__label">
                        Имя пользователя</label>
                    <div class="form__field-group">
                        <input type="text" name="username" id="id_username" class="form__input">
                        <span class="form__error"></span>
                    </div>
                </div>

                <div class="form__group">
                    <label for="id_password" class="form__label">Пароль</label>
                    <div class="form__field-group">
                        <input type="password" name="password" id="id_password" class="form__input">


                        {% if error %}
                            <span class="form__error">Имя пользователя и пароль не совпадают. Введите правильные данные.</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form__footer">
                    <button class="button button_style_blue">Войти</button>
                    <a class="form__forgot-link" href="{% url 'password_reset' %}">Забыли
                        пароль?</a>
                </div>
            </form>
        </div>
    </main>
{% endblock %}