@import url(normalize.css);

@font-face {
    font-family: "VollkornSC";
    src: url("../fonts/VollkornSC-Bold-700.ttf") format('ttf');
    font-style: normal;
    font-weight: 700; 
  }
  
  @font-face {
    font-family: "VollkornSC";
    src: url("../fonts/VollkornSC-Regular-400.ttf") format('woff');
    font-style: normal;
    font-weight: 400;
  }

  body {
      font-family: "VollkornSC";
      font-weight: 400;
  }